.idea
docker/*
!docker/
!docker/caddy/public/
!./docker/caddy/Caddyfile
!./docker/docker-compose.yaml
!./docker/databases/docker-compose.yaml
!./docker/mail/docker-compose.yaml
!./docker/media/docker-compose.yaml
!./docker/queues/docker-compose.yaml
!./docker/servers/docker-compose.yaml
!./docker/tools/docker-compose.yaml
!./docker/monitoring/docker-compose.yaml
!./docker/*.env.example
!./docker/**/.env.example
!./docker/start.sh
!./docker/stop.sh
!./local/caddy/Caddyfile
!./local/docker-compose.yaml
!./**/.env.exaample
**/.env

.venv
node_modules
pnpm-lock.yaml
package-lock.json
bun.lockb
bun.lock
yarn.lock
