.idea
docker/*
!docker/
!docker/caddy/public/
!docker/caddy/Caddyfile
!docker/docker-compose.yaml
!docker/wallet-compose.yaml
!docker/*.env
!docker/start.sh
!docker/stop.sh
sftpgo/.env.expl
sftpgo/.env
**/.env
./sftpgo/.env
./sftpgo/.env.expl