### PORTAINER
PORTAINER_PORT=
PORTAINER_TCP_PORT=

### SONARQUBE
SONARQUBE_PORT=

### IT-TOOLS
IT_TOOLS_PORT=

### N8N
N8N_DB=
N8N_DB_HOST=
N8N_DB_PASSWORD=
N8N_DB_PORT=
N8N_DB_TYPE=
N8N_DB_USER=
N8N_PORT=
