{
    admin off
}

*.files.omnivoltaic.com {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        propagation_delay 30s
        resolvers cloudflare {
            url https://cloudflare-dns.com/dns-query
        }
    }

    @caddy host caddy.files.omnivoltaic.com
    handle @caddy {
        root /usr/share/caddy/html
        php_fastcgi localhost:80
        file_server
    }

    @ui host ui.files.omnivoltaic.com
    handle @ui {
        reverse_proxy http://sftpgo:8080
    }

}