### MINIO
MINIO_CONSOLE_PORT=
MINIO_ROOT_PASSWORD=
MINIO_ROOT_USER=
MINIO_S3_PORT=

### SFTPGO
SFTPGO_FTP_PORT=2021
SFTPGO_HTTP_PORT=8080
SFTPGO_SFTP_PORT=2022
SFTPGO_WEBDAV_PORT=9090

### FILEBROWSER
FILEBROWSER_PORT=
