### POSTGRES
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=

### PGADMIN
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_LISTEN_PORT=

### MYSQL
MYSQL_DATABASE=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_HOST=

### PHPMYADMIN
PHPMYADMIN_PORT=
PHPMYADMIN_INTERNAL_PORT=
PHPMYADMIN_ABSOLUTE_URI=

### MONGODB
MONGO_INITDB_DATABASE=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_ROOT_USERNAME=
MONGO_PORT=

### MONGO-EXPRESS
MONGO_EXPRESS_COOKIESECRET=
MONGO_EXPRESS_PASSWORD=
MONGO_EXPRESS_PORT=
MONGO_EXPRESS_SESSIONSECRET=
MONGO_EXPRESS_SSL_CERTIFICATE=
MONGO_EXPRESS_SSL_ENABLED=
MONGO_EXPRESS_SSL_KEY=
MONGO_EXPRESS_SSL_KEY_PASSPHRASE=
MONGO_EXPRESS_SSL_REJECT_UNAUTHORIZED=
MONGO_EXPRESS_USERNAME=
MONGO_HOST=

### REDIS-COMMANDER
REDIS_COMMANDER_PORT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
